/* Police : Georgia */

html body a {
  text-decoration: none;
  color: black;
}

#lessons a {
  font-weight: bold;
}

#lessons a.active {
  color: #a997c8;
}

html body a[href="#logo"] {
  content: url(static/images/logo.png);
}

html nav.menu li {
  padding: 5px;
}

html nav.menu li a {
  color: white;
}

html li {
  list-style: none;
}


html nav.menu ul {
  position: absolute;
  padding-left: 0;
  margin: auto;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
}

#home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: url("static/images/background.jpg") no-repeat center/cover;
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
}

#home h1, #home h2 {
  color: white;
}

h1 {
  font-size: 40pt;
  text-transform: uppercase;
}

h2 {
  font-size: 25pt;
  color: #a997c8;
}

#lessons section, #about, #pilates, #rent, #faq {
  display: flex;
  min-height: 50vh;
  margin: 50px;
}


#contact {
  display: flex;
}

#faq {
  display: flex;
  flex-flow: wrap;
}

#lessons section div, #about div, #pilates div, #rent div, #contact div {
  flex: 1 50%;
}

#lessons section div, #about div, #pilates div, #rent div, #contact div {
  flex: 1 50%;
}

#faq article {
  flex: 0 0 50%;
}

#lessons h2, #lessons p.intro {
  text-align: center;
}

h3 {
  position: relative;
  padding-bottom: 5px;
  font-size: 25pt;
}

h3::after {
  content: "";
  height: 1px;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 30px;
  border-bottom: 4px solid #a997c8;
}

img {
  max-height: 400px;
}

#contact {
  background: #a997c8;
}

#contact h2 {
  color: white;
}
