/* Police : Georgia */


@font-face {
  font-family: 'Lato Bold';
  src: url('fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Light';
  src: url('fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Perpetua Bold';
  src: url('fonts/Perpetua-Bold.ttf');
}

@font-face {
  font-family: 'Merriweather Bold Italic';
  src: url('fonts/Merriweather-BoldItalic.ttf');
}

html {
  font-family: 'Lato Light';
  font-size: 1.3em;
}

html body a {
  text-decoration: none;
  color: black;
}

.menu a {
  /*font-size: 1.5em;*/
}

.supersaas {
  color: #a997c8;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s;
}

.supersaas:hover {
  color: #cfbaf5;
}

#lessons a {
  font-weight: bold;
}

#lessons a.active {
  color: #a997c8;
}

html nav.menu li.logo a {
  content: url(images/logo.png);
  height: 8em;
}

.menu .active {
  color: #5b4482;
}

.menu {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
}

html nav.menu ul {
  align-items: center;
  padding-left: 0;
  justify-content: center;
  display: flex;
  flex: 1 100%;
  flex-wrap: wrap;
  width: 100%;
}

html nav.menu li {
  list-style: none;
  margin: 0 0.5em;
  font-size: 0.8em;
}

html nav.menu li a {
  color: white;
  font-family: 'Lato Bold';
  text-transform: uppercase;
}

nav.sticky ul {
  background-color: #a997c8;
  /*border-bottom: solid 2px #a997c8;*/
  margin: 0;
  position: fixed!important;
  top: 0;
  height: 50px;
  z-index: 10;
}

html nav.menu.sticky li.logo {
  padding: 0;
}
html nav.menu.sticky li.logo a {
  content: '';
  display: none;
}

nav.sticky ul li a {
  color: #fff;
}

nav.sticky ul li a:hover {
  color: #5b4482;
}

#lessons nav li {
  list-style: none;
  font-family: 'Lato Bold';
  text-transform: uppercase;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
}

#home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: url("images/background.jpg") no-repeat center/cover;
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
}

section {
  /*padding-bottom: 50px;*/
}

section:not(#home) {
  /*padding-top: 50px;*/
}

#lessons img, #about img, #pilates img, #rent img {
  /*padding-top: 100px;*/
}

#lessons, #about, #pilates, #rent, #faq {
  padding: 2em;
}

#contact {
  padding-left: 100px;
  padding-right: 100px;
}

.slick {
  max-width: 50%
  /*max-height: 40%;*/
  /*margin-left: 100px;*/
}

.slick-prev, .slick-next {
  display: none!important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0!important;
}

.slick-dots {
  position: relative;
}

#home h1, #home h2, #home h3, #home h4 {
  color: white;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

#home h1, #home h2 {
  font-family: 'Lato';
}

#home h3, #home h4 {
  font-family: "Merriweather";
}

#home h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 150px;
  text-transform: uppercase;
}

#home h2 {
  color: white;
  text-transform: initial;
  margin: 0;
}

#home h3 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 100px;
}

#home h3::after {
  content: '';
  border: 0;
}

#home h4 {
  margin: 0;
}

h2 {
  font-size: 2em;
  color: #a997c8;
  text-transform: uppercase;
  font-family: 'Lato Bold';
}

#lessons section, #about, #pilates, #rent, #faq {
  box-sizing: border-box;
  display: flex;
  margin: 2em 0;
  /*flex-wrap: wrap;
  align-items: center*/;
}

.right-content {
  box-sizing: border-box;
  padding: 20px;
}

#pure-pilates {
}

#pure-pilates > div {
  flex: 1 50%;
}

#lessons nav {
  width: 30%;
}

#contact section {
  display: flex;
}

#lessons section div, #about div, #pilates div, #rent div, #contact div {
  flex: 1 50%;
}

#lessons dl {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

#lessons dl dd {
  margin: 0;
  width: 100%;
}

#lessons dl ul {
  padding: 0;
  list-style: none;

}

.lesson-content {
  display: flex;
  flex-direction: column;
}

.lesson-content nav {
  display: flex;
  flex: 1;
}

.lesson-content nav ul {
  padding-left: 0;
  justify-content: center;
  flex: 1 100%;
  flex-wrap: wrap;
}

.lesson-content nav ul li {
  margin: 0.5em 0;
}

.lesson-content article {
  /*margin-left: 50px;*/
  /*margin-right: 50px;*/
  padding: 1em 2em;
}

.lesson-content article p {
  margin: 0;
}

#faq section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

#faq article {
  box-sizing: border-box;
  flex: 0 50%;
  padding: 20px;
}

#lessons h2, #lessons p.intro {
  text-align: center;
}

h3 {
  padding-bottom: 5px;
  font-size: 2em;
  font-family: 'Merriweather Bold Italic';
}

.pipe::after {
  /*content: ' | ';*/
}

#lessons nav {
  /*width: 30%;*/
}

h3:not(.faq-title)::after {
  background: #a997c8;
  content: "";
  display: block;
  height: 4px;
  width: 30px;
}

h3.soft-gym-title::after {
  bottom: -5px;
}

h3.contact-title::after {
  content: "";
  height: 1px;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 30px;
  border-bottom: 4px solid white;
}

.rdv a {
  padding-left: 5px;
}

img {
  /*max-height: 400px;*/
  /*width: 100%;*/
}

#contact, #contact a, #contact h2 {
  background: #a997c8;
  color: white;
}

dt {
  font-weight: bold;
}

dt::after {
  content: ' :';
}

#contact input, #contact textarea {
  padding: 5px;
  margin: 5px;
  width: 50%;
  font-size: 0.7em;
}

[type="submit"] {
  background: transparent;
  border: solid 2px white;
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup-overlay.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  color: black;
  position: relative;
  transition: all 5s ease-in-out;

}

#contact .popup a {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #a997c8;
  content: '&times;';
  background: none;
}

.popup a:hover {
  color: #06D85F;
}

.popup p {
  max-height: 30%;
  overflow: auto;
}

/*@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}*/
